.linkcard {
  background: $white;
  box-shadow: 0.275em 0.275em 1em 0 rgba(224,224,224,0.80);
  border-radius: 0.75em;
  padding: 2.5em 4.5em 2.5em 2.5em;
  display: block;
  margin: $space-sm auto;
  position: relative;
  transition: 250ms ease all;
  @include bp(screen-md) {
    padding: $space $space-md $space $space;
    margin: $space-sm auto;
  }
}

.linkcard__title {
  color: $black;
  font-family: $sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: $ls-shrink;
  line-height: 1;
  margin: 0 0 $space-xs;
  @include bp(screen-md) {
    margin-bottom: .25em;
    font-size: 2.7em;
  }
}

.linkcard__subtitle {
  color: $black;
  font-size: $fs-plus-3;
  line-height: 1.2;
  margin: 0;
}

.linkcard--half {
  display: flex;
  @include bp(screen-md) {
    flex-direction: column;
  }
  .linkcard {
    margin-right: $space;
    flex: 1;
    @include bp(screen-md) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .linkcard + .linkcard {
    margin-right: 0;
    margin-left: $space;
    @include bp(screen-md) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.linkcard:after {
  background-position: center;
  background-size: cover;
  content: "";
  display: block;
  height: 3em;
  position: absolute;
  right: $space;
  top: 50%;
  transform: translate(0,-50%);
  transition: 250ms ease all;
  width: 3em;
  @include bp(screen-md) {
    right: $space-xs;
  }
}

.linkcard:hover {
  box-shadow: 0.3em 0.3em 2em 0 rgba(224, 224, 224, 0.7);
  transform: scale(1.01);
  transition: 250ms ease all;
  .linkcard__title {
    color: $black;
    text-decoration: none;
  }
  .linkcard__subtitle {
    color: $black;
    text-decoration: none;
  }
  &:after {
    transform: translate(15%,-50%);
    transition: 250ms ease all;
  }
}

.linkcard--red:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%23ed4938%22%2F%3E%3C%2Fsvg%3E");
}
.linkcard--orange:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%23f59054%22%2F%3E%3C%2Fsvg%3E%0A");
}
.linkcard--yellow:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%23efc337%22%2F%3E%3C%2Fsvg%3E%0A");
}
.linkcard--teal:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%232fc8ac%22%2F%3E%3C%2Fsvg%3E%0A");
}
.linkcard--blue:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%234CADF9%22%2F%3E%3C%2Fsvg%3E%0A");
}
.linkcard--blue-dark:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%235f85da%22%2F%3E%3C%2Fsvg%3E%0A");
}
.linkcard--purple:after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%222em%22%20height%3D%222em%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.163%204.516c.418.408%204.502%204.695%204.502%204.695a1.095%201.095%200%200%201%200%201.576s-4.084%204.289-4.502%204.695c-.418.408-1.17.436-1.615%200c-.446-.434-.481-1.041%200-1.574L11.295%2010L7.548%206.092c-.481-.533-.446-1.141%200-1.576c.445-.436%201.197-.409%201.615%200z%22%20fill%3D%22%23ad7af6%22%2F%3E%3C%2Fsvg%3E");
}

