.center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.img--twitter {
  max-width: 100%;
  height: auto;
}

.space {
  display: block;
  height: $space-xl;
  @include bp(screen-md) {
    height: $space-xxl;
  }
}

.space--sm {
  display: block;
  height: $space-lg;
  @include bp(screen-md) {
    height: $space-xl;
  }
}

.header {
  text-align: center;
  max-width: 50em;
  margin: $space-xxl auto 0;
}

.main__container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
  > section {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
}

section.twentytwenty__section {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding-right: 15em;
}

section.subhead__section {
  text-align: center;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  h3 {
    margin-bottom: 0;
  }
}


.list-header__section {
  max-width: 38em;
  .escape__list-subtitle {
    margin-bottom: 0.3em;
    @include bp(screen-md) {
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }
  }
  .escape__list-title {
    margin-bottom: $space;
    font-size: $fs-plus-6;
    line-height: .9;
    max-width: 8em;
    @include bp(screen-md) {
      margin-bottom: $space-lg;
      font-size: 3.3em;
    }
  }
}

.learn__section {
}

.learn__title {
  text-align: center;
  margin-bottom: $space-md;
}

.learn__subtitle {
  text-align: center;
  max-width: 40em;
  margin: -$space-md auto $space-sm;
}

.twitter__item {
  box-shadow: $shadow;
  display: inline-block;
  transition: ease all 250ms;
  max-width: 24em;
  &:hover {
    transform: scale(1.01);
    transition: ease all 250ms;
  }
}


.blue-link__section {
  text-align: center;
}

.blue-link {
  font-weight: 700;
  font-family: $sans-serif;
  color: $blue;
  font-size: $fs-plus-2;
  border-bottom: 1px dotted transparent;
  transition: ease all 250ms;
  &:hover {
    color: darken($blue, 10%);
    border-color: darken($blue, 10%);
    font-size: 1.27em;
    transition: ease all 250ms;
    transform: scale(1.01);
  }
}

.footer {
  text-align: center;
  margin-bottom: $space-lg;
}
.footer__img-wrapper {

}
.footer__img {
  max-width: 8em;
  height: auto;
}

.header__logo {
  max-width: 12em;
  height: auto;
}

.page--buy {
  .header {
    margin-top: 0
  }
  .header__logo {
    margin: $space-sm auto $space-xl;
    display: block;
  }
}
