.moonpay {
  &__section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 32em;
    border-radius: 0.75em;
    padding: $space-sm;
    box-shadow: $shadow;
    margin: .5em auto;
    @include bp(screen-sm) {
      padding: $space-xs;
    }
  }


  &-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    outline: none;
    z-index: 9999;

    &-iframe {
      height: 100%;
      width: 100%;
      min-height: 29em;
    }
  }
}
