.scale__section {
  display: flex;
}

.scale__item {
  flex: 1;
  position: relative;
}

.scale__label {
  font-family: $sans-serif;
  font-size: $fs-sm;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.scale__item--m:after {
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: $yellow;
  display: block;
}
.scale__item--b:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $red;
  display: block;
}

.scale__item--t:after {
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: $teal-light;
  display: block;
  position: absolute;
  left: -10em;
  top: 1em;
  z-index: -10;
  @include bp(screen-sm) {
    left: -20em;
    top: .5em;
  }
}

.scale-text__section {
  @extend .serif;
  @include bp(screen-sm) {
    margin-top: 0;
  }
}

.scale-text__paragraph {
  max-width: 24em;
  margin-left: 0;
}
